.body {
    background-color: burlywood;
}
.head {
    margin-top: 20px;
    font-weight: bolder;
}
#word {
    width: 50%;
}
#mean {
    margin-top: 10px;
}
.notify {
    font-size: 19px;
    font-style: italic;
}
#word-result, #word-sound, .word-result, #word-found {
    font-size: 20px;
    font-style: italic;
}
#bottom {
    position:absolute;
    bottom: 0px;
}
.btm {
    text-align: center;
}

@media (max-width: 780px) {
    #word {
        width: 80%;
    }
}